# Backend
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=sistema_ponto;Username=postgres;Password=troque_esta_senha
Jwt__Key=gere_uma_chave_forte_com_32_caracteres_ou_mais
Jwt__Issuer=SistemaPonto
